<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "cook-mind-logo.png", alt: "Cookmind logo" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">

        <% if user_signed_in? %>

          <li class="nav-item">
            <%= link_to "Ingredients", ingredients_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Recipes", recipes_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Chats", chats_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" %>
          </li>

          <!-- Avatar dropdown -->
          <li class="nav-item dropdown">
            <button class="avatar border-0 bg-transparent" id="navbarDropdown" data-bs-toggle="dropdown">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "User avatar" %>
            </button>

            <div class="dropdown-menu dropdown-menu-end">
              <%= link_to "Profile", profil_path(current_user.profil), class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
            </div>
          </li>

        <% else %>

          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
          </li>

        <% end %>

      </ul>
    </div>
  </div>
</nav>
